{% extends 'index.html' %}


{% load post_extras %}

{% block content %}







<script>
    // GET 방식으로 전송된 데이터 읽기


</script>
{% comment %} <script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return;
    }
    $.ajax{
        url: 'your url',
        type: 'POST',
        data: formData,
        headers: {"X-CSRFToken": getCookie('csrftoken')},

        success: function (data) {


        },
})
</script> {% endcomment %}


<style>
    .tab_title li {
        list-style: none;
        color: #fff;
        background-color: #399B83;
        border-color: #399B83;
        cursor: pointer;
        padding: 15px 35px;
        display: inline-block;
        margin: 0 0 1rem;
        border-radius: 0.5rem;


      }
      .tab_title li:hover {
        color: #fff;
        background-color: #4AC4A5;
        border-color: #15967d;

      }
    .tab_title li.on {
        color: #fff;
        background-color: #4AC4A5;
        font-weight: bold;
        border-color: #15967d;
        box-shadow: 0 0 0 0.25rem rgba(60, 198, 171, 0.5);

      }

      .tab_title li:disabled, .tab_title li.disabled {
        list-style: none;
        color: #fff;
        background-color: #1abc9c;
        border-color: #1abc9c;
      }


    .tab_cont {
        clear: both;
        border: 1px solid #dedede;
        background-color: #cecece;
    }

    .tab_cont div {
        text-align: center;
    }

    .tab_cont div.on{
        display: block;
    }


</style>


<!--맨 위에 메뉴 바 --->


<section class="my-md-2">


    <nav class="navbar-expand-lg order-py-5">
        <!-- Portfolio Grid Items-->
        <ul class="tab_title topbar" style="text-align:center;">

            <li class="on" id="menu_type--Whopper">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">Whopper</h3>
            </li>
            <li id="menu_type--bugger">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">bugger</h3>
            </li>
            <li id="menu_type--Premium">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">Premium</h3>
            </li>
            <li id="menu_type--side">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">side</h3>
            </li>
            <li id="menu_type--drink">
                <h3 class="masthead-heading text-center text-uppercase text-white mb-0" style="pointer-events: none; ">drink</h3>
            </li>
        </ul>
</nav>
<!-- 전체 정렬 div--->

<div id="stt"></div>
        <div class="row justify-content-center" id="menu_content--Whopper" style="display: on;">
        {% for menu in Whopper_all %}
            <div class="col-md-5 col-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" id="{{menu.title}}--image" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Menu name-->
                            <h3 class="fw-bolder">{{menu.title|fix_title|linebreaks}}</h3>
                            <!-- Menu price-->
                            <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                            <!-- Menu Calorie-->
                            <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 클릭 하면 뜨는 모달 탭--->
            <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="2" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                        <div style="text-align: left;">
                                            <!-- Portfolio Modal - Title-->
                                            <h1 class="menu-modal-title text-secondary text-uppercase">{{menu.title}}</h1>
                                            <h1 class="menu-modal-en-title text-secondary text-uppercase">{{menu.en_title|default:'치킨&새우'}}</h1><br>
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4 menu-modal-desc">{{menu.desc}}</p>
                                        </div>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            단품
                                        </button>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                        <button class="btn btn-in-modal btn-secondary" data-bs-toggle="modal" data-bs-target="#subModal{{menu.id}}">
                                            <i class="fas fa-info-circle fa-fw"></i>
                                           세트메뉴변경
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- 세트-modal -->
                            <div class="modal fade" id="subModal{{menu.id}}" tabindex="-1" aria-labelledby="subModalLabel{{menu.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="subModalLabel{{menu.id}}">메뉴 목록</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                                    </div>
                                <div class="modal-body">
                                    <div class="row">
                                        {% for subMenu in set_change_all %}
                                            <div class="col-md-5 col-5">
                                                <div class="portfolio-item mx-auto">
                                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                                    </div>
                                                    <!-- Product image-->
                                                    <img class="card-img-top" id="{{subMenu.title}}--image" src="{{subMenu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                                    <!-- Product details-->
                                                    <div class="card-body p-4">
                                                        <div class="text-center">
                                                            <!-- Menu name-->
                                                            <h3 class="fw-bolder">{{subMenu.title|fix_title|linebreaks}}</h3>
                                                            <!-- Menu price-->
                                                            <h4 class="fw-normal" id="{{subMenu.title}}--price">{{subMenu.price}} 원</h4>
                                                            <!-- Menu Calorie-->
                                                            <h5 class="fw-light text-muted">{{subMenu.calorie}} Kcal</h5>
                                                            <!-- Checkbox -->
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="{{subMenu.id}}" id="menuCheckbox{{subMenu.id}}" name="menuCheckbox">
                                                                <label class="form-check-label" for="menuCheckbox{{subMenu.id}}">
                                                                    선택
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    </div>
     <!-- 버거탭--->
          <div class="row justify-content-center" id="menu_content--bugger" style="display: none;">
        {% for menu in bugger_all %}
            <div class="col-md-5 col-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" id="{{menu.title}}--image" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Menu name-->
                            <h3 class="fw-bolder">{{menu.title|fix_title|linebreaks}}</h3>
                            <!-- Menu price-->
                            <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                            <!-- Menu Calorie-->
                            <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                        </div>
                    </div>
                </div>
            </div>
          <!--클릭하면 뜨는 모달창 --->
            <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="2" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                        <div style="text-align: left;">
                                            <!-- Portfolio Modal - Title-->
                                            <h1 class="menu-modal-title text-secondary text-uppercase">{{menu.title}}</h1>
                                            <h1 class="menu-modal-en-title text-secondary text-uppercase">{{menu.en_title|default:'치킨&새우'}}</h1><br>
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4 menu-modal-desc">{{menu.desc}}</p>
                                        </div>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            단품
                                        </button>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                        <button class="btn btn-in-modal btn-secondary" data-bs-toggle="modal" data-bs-target="#subModal{{menu.id}}">
                                            <i class="fas fa-info-circle fa-fw"></i>
                                           세트메뉴변경
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- 세트-modal -->
                            <div class="modal fade" id="subModal{{menu.id}}" tabindex="-1" aria-labelledby="subModalLabel{{menu.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="subModalLabel{{menu.id}}">메뉴 목록</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                                    </div>
                                <div class="modal-body">
                                    <div class="row">
                                        {% for subMenu in set_change_all %}
                                            <div class="col-md-5 col-5">
                                                <div class="portfolio-item mx-auto">
                                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                                    </div>
                                                    <!-- Product image-->
                                                    <img class="card-img-top" id="{{subMenu.title}}--image" src="{{subMenu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                                    <!-- Product details-->
                                                    <div class="card-body p-4">
                                                        <div class="text-center">
                                                            <!-- Menu name-->
                                                            <h3 class="fw-bolder">{{subMenu.title|fix_title|linebreaks}}</h3>
                                                            <!-- Menu price-->
                                                            <h4 class="fw-normal" id="{{subMenu.title}}--price">{{subMenu.price}} 원</h4>
                                                            <!-- Menu Calorie-->
                                                            <h5 class="fw-light text-muted">{{subMenu.calorie}} Kcal</h5>
                                                            <!-- Checkbox -->
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="{{subMenu.id}}" id="menuCheckbox{{subMenu.id}}" name="menuCheckbox">
                                                                <label class="form-check-label" for="menuCheckbox{{subMenu.id}}">
                                                                    선택
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    </div>
     <!-- 프리미엄--->
      <div class="row justify-content-center" id="menu_content--Premium" style="display: none;">
        {% for menu in Premium_all %}
            <div class="col-md-5 col-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" id="{{menu.title}}--image" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Menu name-->
                            <h3 class="fw-bolder">{{menu.title|fix_title|linebreaks}}</h3>
                            <!-- Menu price-->
                            <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                            <!-- Menu Calorie-->
                            <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                        </div>
                    </div>
                </div>
            </div>
          <!--클릭하면 뜨는 모달창 --->
            <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="2" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                        <div style="text-align: left;">
                                            <!-- Portfolio Modal - Title-->
                                            <h1 class="menu-modal-title text-secondary text-uppercase">{{menu.title}}</h1>
                                            <h1 class="menu-modal-en-title text-secondary text-uppercase">{{menu.en_title|default:'치킨&새우'}}</h1><br>
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4 menu-modal-desc">{{menu.desc}}</p>
                                        </div>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            단품
                                        </button>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                        <button class="btn btn-in-modal btn-secondary" data-bs-toggle="modal" data-bs-target="#subModal{{menu.id}}">
                                            <i class="fas fa-info-circle fa-fw"></i>
                                           세트메뉴변경
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- 세트-modal -->
                            <div class="modal fade" id="subModal{{menu.id}}" tabindex="-1" aria-labelledby="subModalLabel{{menu.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="subModalLabel{{menu.id}}">메뉴 목록</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                                    </div>
                                <div class="modal-body">
                                    <div class="row">
                                        {% for subMenu in set_change_all %}
                                            <div class="col-md-5 col-5">
                                                <div class="portfolio-item mx-auto">
                                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                                    </div>
                                                    <!-- Product image-->
                                                    <img class="card-img-top" id="{{subMenu.title}}--image" src="{{subMenu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                                    <!-- Product details-->
                                                    <div class="card-body p-4">
                                                        <div class="text-center">
                                                            <!-- Menu name-->
                                                            <h3 class="fw-bolder">{{subMenu.title|fix_title|linebreaks}}</h3>
                                                            <!-- Menu price-->
                                                            <h4 class="fw-normal" id="{{subMenu.title}}--price">{{subMenu.price}} 원</h4>
                                                            <!-- Menu Calorie-->
                                                            <h5 class="fw-light text-muted">{{subMenu.calorie}} Kcal</h5>
                                                            <!-- Checkbox -->
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="{{subMenu.id}}" id="menuCheckbox{{subMenu.id}}" name="menuCheckbox">
                                                                <label class="form-check-label" for="menuCheckbox{{subMenu.id}}">
                                                                    선택
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="setMenuBtn--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            세트메뉴로 하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    </div>
     <!-- 사이드 탭--->
      <div class="row justify-content-center" id="menu_content--side" style="display: none;">
        {% for menu in side_all %}
            <div class="col-md-5 col-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" id="{{menu.title}}--image" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Menu name-->
                            <h3 class="fw-bolder">{{menu.title|fix_title|linebreaks}}</h3>
                            <!-- Menu price-->
                            <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                            <!-- Menu Calorie-->
                            <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="2" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                        <div style="text-align: left;">
                                            <!-- Portfolio Modal - Title-->
                                            <h1 class="menu-modal-title text-secondary text-uppercase">{{menu.title}}</h1>
                                            <h1 class="menu-modal-en-title text-secondary text-uppercase">{{menu.en_title|default:'치킨&새우'}}</h1><br>
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4 menu-modal-desc">{{menu.desc}}</p>
                                        </div>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            장바구니에 담기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- 드링크 탭--->
      <div class="row justify-content-center" id="menu_content--drink" style="display: none;">
        {% for menu in drink_all %}
             <div class="col-md-5 col-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{menu.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" id="{{menu.title}}--image" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Menu name-->
                            <h3 class="fw-bolder">{{menu.title|fix_title|linebreaks}}</h3>
                            <!-- Menu price-->
                            <h4 class="fw-normal" id="{{menu.title}}--price">{{menu.price}} 원</h4>
                            <!-- Menu Calorie-->
                            <h5 class="fw-light text-muted">{{menu.calorie}} Kcal</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal{{menu.id}}" tabindex="2" aria-labelledby="portfolioModal{{menu.id}}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{menu.image|fix_route|default:'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'}}" alt="..." />
                                        <div style="text-align: left;">
                                            <!-- Portfolio Modal - Title-->
                                            <h1 class="menu-modal-title text-secondary text-uppercase">{{menu.title}}</h1>
                                            <h1 class="menu-modal-en-title text-secondary text-uppercase">{{menu.en_title|default:'치킨&새우'}}</h1><br>
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-4 menu-modal-desc">{{menu.desc}}</p>
                                        </div>
                                        <button class="btn btn-in-modal btn-primary" data-bs-dismiss="modal" id="addToCart--{{menu.title}}">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            장바구니 담기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




</section>


 <script>
    let tabButton = document.querySelectorAll('[id^=menu_type]');

    // 음료 카테고리에 따른 탭 메뉴 처리
    const tabButtonClickHandle = (e) =>{
        if (e.target !== e.currentTarget) return;
        e.preventDefault();

        let id = e.target.id.split("--")[1];
        console.log("selected " + id);

        let prevElement = document.querySelector('[class^=on]');
        let prev_id = prevElement.id.split("--")[1];

        $("#menu_type--" + prev_id).removeClass("on");
        $("#menu_content--" + prev_id).hide();

        $("#menu_type--" + id).addClass("on");
        $("#menu_content--" + id).show();

    }

    for(let i=0;i<tabButton.length;i++){
        tabButton[i].addEventListener('click',tabButtonClickHandle);
    }

</script>

{% endblock%}

{% block cart %}

<style>
    .bottombar {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
      }
    .cart-info {
        border-radius: 35px 35px 0px 0px;
        width: 100%;
        padding: 1rem 1rem;
    }
    .payment {
        width: 100%;
    }
    #pay-cancel, #pay {
        width: 50%;
        text-align: center;
        padding-top: 1rem;
-    }
    #pay-cancel {
        color: #fff;
        background-color: #BEBEBE;
    }
    #pay {
        background-color: #FF0000;
    }
    #pay-cancel:hover {
        color: #555555;
        background-color: #E8E8E8;
    }
    #pay:hover {
        color: #fff;
        background-color: #9B111E;
    }
    #cart-list > * {
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;

    }
    #cartElement {
        text-align: left;
        padding-left: 2rem;
    }


</style>
<!-- 밑에 결제하는 부분 Section-->
<section class="bottombar">
    <form id="order_submission" action="{% url 'bugger:old_confirm' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
    <!-- 주문한 상품--->
    <div class="cart-info py-3 bg-secondary">
        <div class="row" id="cart">
            <div class="row" id="headingOne">
                <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="text-white fw-bolder">주문한 상품 <sup>0</sup></h4>
                </button>
            </div>
            <div class="row accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#cart">
                <div class="accordion-body">
                    <div class="row" id="cart-list">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="payment">
        <div class="row">

            <div id="pay-cancel" class="py-3" OnClick="location.href ='{% url 'bugger:home' %}'" style="cursor:pointer;" >
                <h5 class="fw-bolder">취소하기</h5>
            </div>

            <div id="pay" class="py-3" OnClick="order_now();" style="cursor:pointer;">
                <div class="row">
                    <div class="col-5 text-white" style="text-align: left; padding-left: 10%;"><h10>결제하기</h10></div>
                    <div class="col-1 text-white" style="text-align: left;">￦</div>
                    <div class="col-3 text-white" id="total-money" style="text-align: right; padding-right: 10%;"><h5>0</h5></div>
                    <div class="col-3 text-white"><h6><i class="bi bi-chevron-right" style="text-align:left;"></i></h6></div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $.extend({
        getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') +1).split('&');
            for(var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            console.log(vars);
            return vars;
        },

        getUrlVar: function(name) {
            return $.getUrlVars()[name];
        }

    });

function order_now() {
    let cart_items = document.querySelectorAll('[id^=cart--]');
    if (cart_items.length === 0) {
        alert("장바구니가 비어있습니다.");
        return;
    }

    let menu_list = [];
    let menu_counts = [];

    for (let i = 0; i < cart_items.length; i++) {
        var menu_id = cart_items[i].id.split("--")[1];
        var cnt = document.getElementById(menu_id + '--count').innerText * 1;
        console.log(cnt);

        var menu_title = cart_items[i].querySelector('.col-7').innerText; // 메뉴 제목 가져오기
        menu_list.push(menu_title);
        menu_counts.push(cnt);
    }

    var usage_type = getUrlParameter('usage_type');

    var form = document.getElementById("order_submission");
    var parm = [];
    parm.push(['usage_type', usage_type]);
    parm.push(['menu_list', menu_list.join(',')]);
    parm.push(['menu_counts', menu_counts.join(',')]);

    var input = [];
    for (var i = 0; i < parm.length; i++) {
        input[i] = document.createElement("input");
        input[i].setAttribute("type", "hidden");
        input[i].setAttribute('name', parm[i][0]);
        input[i].setAttribute("value", parm[i][1]);
        form.appendChild(input[i]);
    }
    document.body.appendChild(form);
    form.submit();
}

function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}


      // 장바구니 내에서 음료 개수 추가 (Plus 버튼 클릭)
    const addElementButtonClickHandle = (e) => {
        if (e.target !== e.currentTarget) return;
        e.preventDefault();

        console.log(e.target.id);
        let id = e.target.id.split("--")[1];
        console.log("add" + id);

        var prev_count = document.getElementById(id + '--count').innerText;
        prev_count *= 1;
        document.getElementById(id + '--count').innerText = prev_count + 1;

        // 주문한 상품 총 개수 수정
        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;

        // 주문 금액 수정
        var price = document.getElementById(id + '--price').innerText.split(' ')[0];
        price *= 1;

        var totalPrice = document.getElementById('total-money').innerText;
        totalPrice *= 1;
        document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice + price) + '</h5>';
    }

    // 장바구니 내에서 음료 개수 빼기 (Minus 버튼 클릭)
    const deductElementButtonClickHandle = (e) => {
        if (e.target !== e.currentTarget) return;

        e.preventDefault();

        console.log(e.target.id);
        let id = e.target.id.split("--")[1];
        console.log("deduct " + id);

        var prev_count = document.getElementById(id + '--count').innerText;
        prev_count *= 1;

        // 1개 남았을 경우, div 삭제
        if (prev_count == 1) {
            document.getElementById('cart--' + id).remove();
        } else {
            document.getElementById(id + '--count').innerText = prev_count - 1;
        }

        // 주문한 상품 총 개수 수정
        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count - 1;

        // 주문 금액 수정
        var price = document.getElementById(id + '--price').innerText.split(' ')[0];
        price *= 1;

        var totalPrice = document.getElementById('total-money').innerText;
        totalPrice *= 1;
        document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice - price) + '</h5>';
    }



    let setMenuBtn = document.querySelectorAll('[id^=setMenuBtn]');

    const setMenuBtnClickHandle = (e) => {
        e.preventDefault();

        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;

        var id = e.target.id.split("--")[1];
        if (document.getElementById('cart--' + id) == null) {
            let cartListArea = document.getElementById('cart-list');
            cartListArea.innerHTML += '<div class="row" id="cart--' + id + '"> \
                                        <div class="col-7" id="cartElement">' + id + '</div> \
                                        <div class="col-1" id="deduct--' + id + '"><i class="bi bi-dash-circle" style="pointer-events: none;"></i></div> \
                                        <div class="col-2" id="' + id + '--count">1</div> \
                                        <div class="col-1" id="add--' + id + '"><i class="bi bi-plus-circle" style="pointer-events: none;"></i></div> \
                                    </div>'
            // Event Listener 추가
            let addElementButton = document.querySelectorAll('[id^=add--]');
            for (let i = 0; i < addElementButton.length; i++) {
                addElementButton[i].addEventListener('click', addElementButtonClickHandle);
            }
            let deductElementButton = document.querySelectorAll('[id^=deduct--]');
            for (let i = 0; i < deductElementButton.length; i++) {
                deductElementButton[i].addEventListener('click', deductElementButtonClickHandle);
            }
        } else {
            var prev_count = document.getElementById(id + '--count').innerText;
            prev_count *= 1;
            document.getElementById(id + '--count').innerText = prev_count + 1;
        }

        var price = document.getElementById(id + '--price').innerText.split(' ')[0];
        price = (parseFloat(price) + 1300) * 1;

        var totalPrice = document.getElementById('total-money').innerText;
        totalPrice = parseFloat(totalPrice) * 1;

        document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice + price) + '</h5>';
    }

    for (let i = 0; i < setMenuBtn.length; i++) {
        setMenuBtn[i].addEventListener('click', (e) => {
        setMenuBtnClickHandle(e);
    });
}

    let addCartButton = document.querySelectorAll('[id^=addToCart]');

    const addCartButtonClickHandle = (e) => {
        e.preventDefault();

        let id = e.target.id.split("--")[1];
        console.log("add " + id);

        if (document.getElementById('cart--' + id) == null) {
            let cartListArea = document.getElementById('cart-list');
            cartListArea.innerHTML += '<div class="row" id="cart--' + id + '"> \
                                        <div class="col-7" id="cartElement">' + id + '</div> \
                                        <div class="col-1" id="deduct--' + id + '"><i class="bi bi-dash-circle" style="pointer-events: none;"></i></div> \
                                        <div class="col-2" id="' + id + '--count">1</div> \
                                        <div class="col-1" id="add--' + id + '"><i class="bi bi-plus-circle" style="pointer-events: none;"></i></div> \
                                    </div>'
            // Event Listener 추가
            let addElementButton = document.querySelectorAll('[id^=add--]');
            for (let i = 0; i < addElementButton.length; i++) {
                addElementButton[i].addEventListener('click', addElementButtonClickHandle);
            }
            let deductElementButton = document.querySelectorAll('[id^=deduct--]');
            for (let i = 0; i < deductElementButton.length; i++) {
                deductElementButton[i].addEventListener('click', deductElementButtonClickHandle);
            }

        } else {
            var prev_count = document.getElementById(id + '--count').innerText;
            prev_count *= 1;
            document.getElementById(id + '--count').innerText = prev_count + 1;
        }

        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;

        var price = document.getElementById(id + '--price').innerText.split(' ')[0];
        price *= 1;

        var totalPrice = document.getElementById('total-money').innerText;
        totalPrice *= 1;
        document.getElementById('total-money').innerHTML = '<h5>' + (totalPrice + price) + '</h5>';
    }

 for(let i=0;i<addCartButton.length;i++){
        addCartButton[i].addEventListener('click', addCartButtonClickHandle);
    }

    function order_now() {
    let cart_items = document.querySelectorAll('[id^=cart--]');
    if (cart_items.length === 0) {
        alert("장바구니가 비어있습니다.");
        return;
    }

    let menu_list = [];
    let menu_counts = [];

    for (let i = 0; i < cart_items.length; i++) {
        var menu_id = cart_items[i].id.split("--")[1];
        var cnt = document.getElementById(menu_id + '--count').innerText * 1;
        console.log(cnt);

        var menu_title = cart_items[i].querySelector('.col-7').innerText; // 메뉴 제목 가져오기
        menu_list.push(menu_title);
        menu_counts.push(cnt);
    }

    var usage_type = getUrlParameter('usage_type');

    var form = document.getElementById("order_submission");
    var parm = [];
    parm.push(['usage_type', usage_type]);
    parm.push(['menu_list', menu_list.join(',')]);
    parm.push(['menu_counts', menu_counts.join(',')]);

    var input = [];
    for (var i = 0; i < parm.length; i++) {
        input[i] = document.createElement("input");
        input[i].setAttribute("type", "hidden");
        input[i].setAttribute('name', parm[i][0]);
        input[i].setAttribute("value", parm[i][1]);
        form.appendChild(input[i]);
    }
    document.body.appendChild(form);
    form.submit();
}

function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}


const sttaddCartButtonClickHandle = (menuInfo) => {
    // 'menuInfo'를 사용하여 함수를 실행합니다.
    console.log("add " + menuInfo.title);

    // 'menuInfo'의 ID를 사용하여 cartElement를 찾습니다.
    var cartElement = document.getElementById('cart--' + menuInfo.id);

    if (cartElement === null) {
        let cartListArea = document.getElementById('cart-list');
        let newCartItem = document.createElement('div');
        newCartItem.classList.add('row');
        newCartItem.id = 'cart--' + menuInfo.id; // 'menuInfo'의 ID를 사용합니다.
        newCartItem.innerHTML = `<div class="col-7">${menuInfo.title}</div>
                                <div class="col-1" id="deduct--${menuInfo.id}"><i class="bi bi-dash-circle" style="pointer-events: none;"></i></div>
                                <div class="col-2" id="${menuInfo.id}--count">1</div>
                                <div class="col-1" id="add--${menuInfo.id}"><i class="bi bi-plus-circle" style="pointer-events: none;"></i></div>`;
        cartListArea.appendChild(newCartItem);

        // Event Listener 추가
        let addElementButton = document.querySelectorAll('[id^=add--]');
        for (let i = 0; i < addElementButton.length; i++) {
            addElementButton[i].addEventListener('click', addElementButtonClickHandle);
        }
        let deductElementButton = document.querySelectorAll('[id^=deduct--]');
        for (let i = 0; i < deductElementButton.length; i++) {
            deductElementButton[i].addEventListener('click', deductElementButtonClickHandle);
        }
    } else {
        var prev_count = document.getElementById(menuInfo.id + '--count');
        if (prev_count !== null) {
            var currentCount = parseInt(prev_count.innerText);
            if (!isNaN(currentCount)) {
                prev_count.innerText = currentCount + 1;
            }
        }
    }

    // 'cartElement'의 존재 여부를 다시 확인합니다.
    if (cartElement !== null) {
        var count = document.querySelector("#headingOne > button > h4 > sup").innerText;
        count *= 1;
        document.querySelector("#headingOne > button > h4 > sup").innerText = count + 1;

        // 'menuInfo'에서 가격을 가져오기 위해 수정된 부분
        var price = parseFloat(menuInfo.price);
        if (!isNaN(price)) {
            var totalPriceElement = document.getElementById('total-money');
            var totalPrice = parseFloat(totalPriceElement.innerText);
            if (!isNaN(totalPrice)) {
                totalPrice += price;
                // 텍스트를 업데이트합니다.
                totalPriceElement.innerHTML = '<h5>' + totalPrice + '</h5>';
            }
        }
    }
}


 var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


var currentMenu = 'Whopper';
var isListening = false; // isListening 변수를 초기화

function startSpeechRecognition() {
    if (!isListening) {
        isListening = true;
        $.ajax({
            url: "{% url 'bugger:apic' %}",
            type: "post",
        }).done(function (data) {
            if (data.stt !== '') {
                document.getElementById('stt').innerHTML = data.stt;
                handleSpeechRecognitionResult(data.stt);
            }
        }).always(function () {
            isListening = false;
            startSpeechRecognition();
        });
    }
}

function handleSpeechRecognitionResult(result) {
    switch (result) {
        case '홈으로':
            location.href = '{% url 'bugger:home' %}';
            break;
        case '버거':
            showMenu('bugger');
            break;
        case '프리미엄':
            showMenu('Premium');
            break;
        case '사이드':
            showMenu('side');
            break;
        case '음료':
            showMenu('drink');
            break;
        case '주문':
            order_now();
            break;
        case '와퍼':
            showMenu('Whopper');
            break;
        case '실험 버거 12':
            getMenuInfoByName('실험버거12');
            break;
        case '실험 보고서 12':
            getMenuInfoByName('실험버거12');
            break;
        case '실험복 52':
            getMenuInfoByName('실험버거12');
            break;
        case '실험 버거 3':
            getMenuInfoByName('실험버거3');
            break;
        case '실험 보고서 3':
            getMenuInfoByName('실험버거12');
            break;
        case '실험 보고서 4':
            getMenuInfoByName('실험버거12');
            break;
        case '실험 보고서':
            getMenuInfoByName('실험버거4');
            break;
        case '실험 버거 4':
            getMenuInfoByName('실험버거4');
            break;
        default:
            // 에러 처리 또는 다른 처리 방법 추가
            break;
    }
}

function getMenuInfoByName(menuName) {
    $.ajax({
        url: "{% url 'bugger:get_menu_info_by_name' %}",
        type: "post",
        data: {
            menu_name: menuName,
            csrfmiddlewaretoken: csrftoken,
        },
    }).done(function (response) {
        if ('title' in response) {
            var menuInfo = {
                title: response.title,
                price: response.price,
                image: response.image,
                desc: response.desc,
                type: response.type,
                calorie: response.calorie,
                id: response.id,
            };
            console.log("메뉴 정보:", menuInfo);
            sttaddCartButtonClickHandle(menuInfo);
        } else {
            console.error(response.error);
            startSpeechRecognition();
        }
    });
}

// 다른 함수들 (showMenu, order_now, sttaddCartButtonClickHandle 등)에 대한 정의가 필요합니다.



$(document).ready(function () {
    startSpeechRecognition();
});





function showMenu(menuId) {
    var allMenus = ['bugger', 'Premium', 'side', 'drink', 'Whopper'];
    for (var i = 0; i < allMenus.length; i++) {
        var menu = document.getElementById('menu_content--' + allMenus[i]);
        if (menu) {
            menu.style.display = 'none';
        }
    }

    var selectedMenu = document.getElementById('menu_content--' + menuId);
    if (selectedMenu) {
        selectedMenu.style.display = 'block';
    }
}




</script>



{% endblock %}