<style>
    /* 배경색과 텍스트 색상 변경 */
    .cart-info {
        background-color: your_desired_background_color;
    }

    .text-white {
        color: your_desired_text_color;
    }
</style>

<div class="cart-info py-3 bg-secondary">
        <div class="row" id="cart">
            <div class="row" id="headingOne">
                <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h10 class="text-white fw-bolder"> <sup>0</sup></h10>
                </button>
            </div>
            <div class="row accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#cart">
                <div class="accordion-body">
                    <div class="row" id="cart-list">

                    </div>
                </div>
            </div>
        </div>

    </div> 해설